
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.navbar{
  border-radius: 0px !important;
}

.Sidebar{
  background-color: darkred;
}

.MainContent{
  background-color: #1b6d85;
}