
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.navbar{
  border-radius: 0px !important;
  position: fixed;
  z-index:40;
  width: 100%;

}

.marginBottom{
  margin-bottom: 10px;
}

.Sidebar{
  background-color: #2a2a2a;
  padding: 7px;
  border-radius: 4px;
  margin-top: 65px;
}

.MainContent{
  margin-top: 65px;
}

.media{
  border-bottom: 1px;
}

img{
  width: 100%;
}

.PagesActive{
  background-color: #2a88bd;
  color:white;
}

.SelectPage{
  margin-top: 16px;
}